body { 
    background: url('https://www.shutterstock.com/image-vector/rock-n-roll-punk-music-260nw-2011011410.jpg') no-repeat top center/cover black fixed; 
    height: 100vh; 
    margin: 0; 
  }
  