
body {
    font-family: Arial, sans-serif; 
    background-color: #f0f4f8; 
    color: #333;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    margin: 0; 
}


h1 {
    font-size: 2.5rem; 
    color: #e74c3c; 
    margin-bottom: 20px; 
}


p {
    font-size: 1.2rem; 
    margin-bottom: 30px; 
}


img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.container {
    text-align: center; 
}
