*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.caja{
    margin-top: 50px;
    width: 100px;
    height: 100px;
    background-color: rgba(43, 192, 226, 0.495);
    transition: background-color 3s , width 2s, height 4s;
}
.caja:hover{
    background-color: cornflowerblue;
    width: 300px;
    height: 300px;
    rotate: 150seg;  
    border: darkblue 4px double;
}
.btn{
    margin-top: 15px;
    background-color: rgba(0, 139, 139, 0.49);
    font-size: 1.0em;
    padding: 2%;
}
.btn:hover{
    background-color: rgb(28, 120, 120);
    transform: scale(0.95);
    padding: 5%;
    border-radius: 45%;
    font-weight: 900;
}