*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.contenedor{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    perspective: 1000px;
    margin-bottom: 5%;
    grid-template-areas: 
    "con1 con1 con2 con3 con3 con3"
    "con4 con4 con2 con5 con5 con5"
    "con4 con4 con2 con5 con5 con5"
    ;
}
.elem1 {
    grid-area: con1;
    background-color: blue;
    transition: transform 0.6s ease, background-color 0.3s ease; /* Transición suave */
}

.elem2 {
    grid-area: con2;
    background-color: rgb(215, 121, 5);
    transition: transform 0.6s ease, background-color 0.3s ease;
}

.elem3 {
    grid-area: con3;
    background-color: rgb(0, 255, 110);
    transition: transform 0.6s ease, background-color 0.3s ease;
}

.elem4 {
    grid-area: con4;
    background-color: rgb(71, 4, 92);
    transition: transform 0.6s ease, background-color 0.3s ease;
}

.elem5 {
    grid-area: con5;
    background-color: rgb(83, 46, 32);
    transition: transform 0.6s ease, background-color 0.3s ease;
}

.elem1:hover {
    transform: rotateX(20deg) rotateY(20deg); 
    background-color: darkblue; 
}

.elem2:hover {
    transform: rotateX(20deg) rotateY(20deg); 
    background-color: darkorange; 
}

.elem3:hover {
    transform: rotateX(20deg) rotateY(20deg); 
    background-color: green; 
}

.elem4:hover {
    transform: rotateX(20deg) rotateY(20deg);
    background-color: limegreen;
}

.elem5:hover {
    transform: rotateX(20deg) rotateY(20deg); 
    background-color: darkred;
}


@media screen and (max-width: 760px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        
    }
    .contenedor > *{
        flex: 1;
    }
}
